.productList{
    display: flex;
    flex-direction: column;
    gap: calc(14px + (30 - 14) * ((100vw - 320px) / (1920 - 320)));
}

.cart-table1{
    display: flex;
    align-items: center;
    color: black;
}
.product-detail{
    display: flex;
    flex-direction: column;
    flex: 3;
}

.price1{
    flex: 1;
    text-align: right;
}

.subtotal {
    padding: calc(18px + (35 - 18) * ((100vw - 320px) / (1920 - 320))) calc(12px + (25 - 12) * ((100vw - 320px) / (1920 - 320)));
}

.productPrice, .taxPrice, .shippingPrice, .totalPrice{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
}

.productPrice >h5, .taxPrice >h5, .shippingPrice >h5, .totalPrice >h5{
    padding: 13px 10px;
}
